@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
    position: relative;
    z-index: 1;

    width: 100%;

    &__container{
        @extend %container;
    }
    &__title{
        margin: 0;
        text-align: center;
    }
}
 